#root {
    padding: 15px;
    min-width: 350px;
    padding-bottom: 50px;
}

.connect-four {
    text-align: center;
}

h1{
    color: #0074b3;
}
.playing-field {
    width: 350px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 1px solid #00334e;
    background-color: #0074b3;
    margin: 0 auto;
    padding: 4px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px 1px #000,
    inset 0px 0px 2px 1px #000;
    user-select: none;  

}

.playing-field__square {
    width: 46px;
    height: 46px;
    margin: 1px;
    border: 1px solid #00334e;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    color: transparent;
    box-shadow: inset 0px 1px 2px 1px #000000d6;
}

.play-informstions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.play-informstions div{
    margin: 0 10px;
}

.reset {
    background-color: #0074b3;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px 1px #000000d6;
    font-size: 10px;
    transition: all .3s ease-out;
}

.reset:hover {
    background-color: #02669c;
    color: #ebebeb;
    box-shadow: inset 0px 0px 3px 0px #000000d6;
    transition: all .3s ease-out;
}

.yellow.winner,  .green.winner, .yellow.move,  .green.move{
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 2px 1px #000000d6;
    font-size: 10px;
    text-transform: capitalize;
}

.bg-red {
    position: relative;
}

.bg-red::before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #ff0000bf;
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
    animation: chip-scale 1s infinite;
}

.bg-yellow {
    background-color: #cdae00;
    background: url(./bg-yellow-chip.png) no-repeat #cdae00;
    background-size: contain;
    background-position: center;
}

.bg-green, .green {
    background-color: #008d49;
    background: url(./bg-green-chip.png) no-repeat #008d49;
    background-size: contain;
    background-position: center;
}

.yellow {
    background-color: #cdae00;
    background:  #cdae00;
}

.green {
    background-color: #008d49;
    background: #008d49;
}

@keyframes chip-scale {
    50% {
        background-color: #ff0000bf;
    }
}

@media only screen and (max-width: 600px) {
    #root {
        padding: 3px
    }
}