#root {
    padding: 15px;
    min-width: 350px;
    padding-bottom: 50px;
}

.tic-tac-toe {
    text-align: center;
}

h1{
    color: #0074b3;
}
.playing-field {
    width: 350px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 1px solid #00334e;
    background-color: #0074b3;
    margin: 0 auto;
    padding: 4px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px 1px #000,
    inset 0px 0px 2px 1px #000;
    user-select: none;  

}

.playing-field__square {
    width: 46px;
    height: 46px;
    margin: 1px;
    border: 1px solid #00334e;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    color: transparent;
    box-shadow: inset 0px 1px 2px 1px #000000d6;
}

.reset {
    display: inline-block;
    border: 1px solid #0074b3;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 10px;
    color: #0074b3;
    font-weight: bold;
    text-transform: uppercase;
}

.reset:hover {
    background-color: #0074b3;
    color: white;
}

.winner {
    font-weight: bold;
    margin-top: 10px;
    color: #0074b3;
}

.bg-red {
    position: relative;
}

.bg-red::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ff0000bf;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: chip-scale 1s infinite;
}

.bg-yellow {
    background-color: #008d49;
    background: url(./bg-yellow-chip.png) no-repeat #cdae00;
    background-size: contain;
    background-position: center;
}

.bg-green {
    background-color: #008d49;
    background: url(./bg-green-chip.png) no-repeat #008d49;
    background-size: contain;
    background-position: center;
}


@keyframes chip-scale {
    50% {
        background-color: #ff0000bf;
    }
}


@media only screen and (max-width: 600px) {
    #root {
        padding: 3px
    }
}